html {
  font-size: 62.5%; }

.main__row-1 {
  background: #fafafa; }
  .main__row-1 h2 {
    font-family: 'Permanent Marker', sans-serif;
    color: #ee8844; }

.main__row-2 {
  font-family: 'Permanent Marker', sans-serif; }
  .main__row-2 img {
    padding-top: 2rem; }
  .main__row-2 h3 {
    margin: 0; }
  .main__row-2 p {
    padding: 0 2.5rem;
    color: #718887; }

.main__content {
  font-family: 'Permanent Marker', sans-serif;
  color: #333; }
  .main__content p {
    padding: 0 3.5rem;
    color: #718887; }
  .main__content-head {
    padding-left: 4rem; }

.booking {
  background: #fafafa; }
  .booking__btn {
    display: block;
    margin: 2.8rem auto;
    background-color: #0b95eb;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(13, 79, 120, 0.653); }
    .booking__btn a {
      text-decoration: none;
      display: block;
      padding: 1rem 3rem;
      color: #eee;
      font-family: 'Permanent Marker', sans-serif;
      font-size: 2rem;
      text-shadow: 0.2rem 0.1rem rgba(221, 221, 221, 0.442); }

.footer {
  text-align: center;
  background-color: #444;
  color: #eee;
  font-size: .8rem;
  padding: 2rem 3rem;
  font-family: 'Teko', sans-serif; }
  .footer img {
    width: 2.5rem; }
